h1, h2, h3, h4 { font-family: 'Old Standard TT', serif; font-weight: 500; margin: 0 0 12px 0; }
a { text-decoration: none; color: #ddd; }
a:hover { color: #d50; }
p { font: 24px/24px 'Old Standard TT', serif; margin: 0 0 12px 0; padding: 0; }
html, body { height: 100%; }
.caps { text-transform: uppercase; }
.wrapper { width: 80%; margin: 30px auto; padding: 0; height: 100%; background: url('../images/doodle.gif') right bottom no-repeat; }
.icon-link { float: left; display: block; clear: both;}
.ss-icon { display: block; width: 30px; float: left; }
.small { font: 14px/24px 'Old Standard TT', serif; color: #333; display: block; margin-left: 36px; }
